/* Sources for css colours
http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=00BFFF
*/

body {
    background-color: whitesmoke;
    font-family: tahoma, trebuchet ms, arial;
    margin: 0;
    font-size: 1em;
}

div.content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1000px;
    min-width: 400px;
    background-color: white;
    height: auto;
}

div.left-hand-menu {
    margin: 0;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #F0E0FF;
    display: block;
    display: table-cell;
}

div.body {
    margin: 0;
    background-color: white;
    display: block;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 800px;
}

div.menu-header {
    margin-left: 0;
    margin: 0;
    padding: 3px;
    background-color: #D6ADFF;
    font-size: 1.2em;
}

ul.menu-list a {
    text-decoration: none;
    color: #000000;
}

ul.menu-list li {
    margin: 0;
	padding: 2px;
}

blockquote {
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 1em;
}

 blockquote a {
     text-decoration: none;
     color: #000000;
 }

 pre {
     font-family: monospace;
     overflow-x: auto;
     width: 775px;
     border: darkgray 1px dashed;
     padding: 5px;
 }

 p.published, span.published {
     color: darkgray;
     font-style: italic;
 }

 div.article-description {
     margin-bottom: 10px;
 }

 a.article-title {
     font-size: 1.5em;
     text-decoration: none;
 }

 a.menu-home-link {
     text-decoration: none;
 }

a.menu-home-link img {
    border: none;
    margin: 0;
    padding: 0;
 }