/* Sources for css colours
http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=00BFFF
*/

body {
    background-color: whitesmoke;
    font-family: Tahoma, sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
}

div.content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: auto;
    width: 1020px;
}

div.left-hand-menu {
    margin: 0;
    margin-right: 2px;
    float: left;
    width: 200px;
    height: 100%;
    display: block;
    display: table-cell;
}

div.body {
    margin: 2px;
    border: DarkGray 1px solid;
    border-radius: 5px;
    background-color: white;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 800px;
}

div.menu-container {
	margin-top: 1px;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

div.menu-header, div.menu-header-pi {
    margin: 0;
    padding: 3px;
    background-color:cornflowerblue;
	border: DarkGray 1px solid;
    color: white;
    font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.menu-header-pi {
	background-color: #BC1142 !important;
}

div.menu-body {
	margin: 0;
    padding: 3px;
	background-color: white;
	border: DarkGray 1px solid;
    border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.menu-list {
    list-style-type: square;
    padding-left: 30px;
    margin: 0;
}

ul.menu-list a {
    text-decoration: none;
    color: #000000;
}

ul.menu-list li {
    margin: 0;
	padding: 2px;
}

blockquote {
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 1em;
}

 blockquote a {
     text-decoration: none;
     color: #000000;
 }
 
 pre {
     font-family: monospace;
     overflow-x: auto;
     width: 775px;
     border: darkgray 1px dashed;
     padding: 5px;
	 border-radius: 5px;
 }

 p.published, span.published, p.quote-source {
     color: darkgray;
     font-style: italic;
 }

 div.article-description {
     margin-bottom: 10px;
 }

 a.article-title {
     font-size: 1.5em;
     text-decoration: none;
 }

a.menu-home-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 115px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
}

a.social-media-link {
    text-decoration: none;
    margin: 0 2px 0 2px;
    padding: 0;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    display: inline-block;
}

a.article-link {
    text-decoration: none;
    color: cornflowerblue;
    cursor: pointer;
}

img.article-image, img.article-preview {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
	display: block;
    border: none;
}

img.article-preview {
    max-height: 300px;
}

img.raspberry-pi-logo {
	max-width: 100px;
	border: none;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

iframe.article-video {
    width: 700px;
    height: 394px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

img.youtube-link {
    width: 34px;
    border: none;
}

img.itunes-link {
    width: 27px;
    border: none;
}

table.content-list {
    border: solid 1px DarkGray;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

table.content-list td, table.content-list th {
    vertical-align: central;
    border: solid 1px DarkGray;
    text-align: left;
    padding: 2px;
}

table.content-list th {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

table.content-list tr.row {
    background-color: white;
}

table.content-list tr.alt-row {
    background-color: whitesmoke;
}