table.image-options {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

table.image-options td {
    border-collapse: collapse;
    border: none;
    width: 50%;
    text-align:center;
}