div#article-area a[href*='www.youtube.com'],
div#article-area a[href*='itunes.apple.com']
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 20px 20px
}

div#article-area a[href*='www.youtube.com']
{
    background-image: url('/images/YouTube-icon-full_color.png');
}

div#article-area a[href*='itunes.apple.com']
{
    background-image: url('/images/itunes.png');
}

div#article-summary-area {
    margin: 10px;
}

div#article-summary-area div.row {
    margin-bottom: 10px;
    background-color: whitesmoke;
}

img.post-preview-image {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

a, .clickable {
    cursor: pointer;
}

blockquote.blockquote {
    border-left: 5px solid skyblue;
    padding-left: 10px;
}

pre {
    border: 1px solid skyblue;
    border-left: 5px solid skyblue;
    padding: 5px;
    padding-left: 10px;
}