div#article-summary-area {
    margin-top: 1em;
}

div#article-area table a[href*='www.youtube.com'],
div#article-area table a[href*='itunes.apple.com']
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 20px 20px
}

div#article-area table a[href*='www.youtube.com']
{
    background-image: url('/images/YouTube-icon-full_color.png');
}

div#article-area table a[href*='itunes.apple.com']
{
    background-image: url('/images/itunes.png');
}

div#article-area img {
    max-height: 600px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.post-preview-image {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

a, .clickable {
    cursor: pointer;
}

blockquote.blockquote {
    border-left: 5px solid skyblue;
    padding-left: 10px;
}

pre {
    border: 1px solid skyblue;
    border-left: 5px solid skyblue;
    padding: 5px;
    padding-left: 10px;
}

pre {
    overflow-x: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

body{ 
    background-color: #e9eef1;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.grid {
    background-color: #fff;
    float: left;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.entry-media img {
    border-radius: 10px;
    width: 100%;
    max-height: 188px;
}

.entry-body {
    padding: 27px 10px;
}

.entry-body .cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
}

.entry-body h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.30em;
    margin: 3px 0 0.73em;
}

.entry-body h3 a {
    color: #41516a;
}

.entry-body h3 a:hover {
    color: #6220d9;
    text-decoration: none;
}

.entry-body p {
    margin-bottom: 2em;
    color: #90949a;
    line-height: 1.8em;
}

.read-more-date {
    position: relative;
}

.read-more-date .date {
    position: absolute;
    right: 0;
    color: #90949a;
}

