<?xml version="1.0"?>

<configuration>
	<system.webServer>
		<staticContent>
			<!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
			<mimeMap fileExtension=".md" mimeType="text/markdown" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect from article" stopProcessing="true">
					<match url="^articles/([_0-9a-z-]+).html" />
					<action type="Redirect" url="index.html" redirectType="Found" />
				</rule>
				<rule name="Redirect from category" stopProcessing="true">
					<match url="^category.html*" />
					<action type="Redirect" url="index.html" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>
</configuration>